/* Primary Colors */
$primary-50: #fff1ec;
$primary-100: #ffe3d9;
$primary-150: #ffd6c6;
$primary-200: #ffc7b3;
$primary-250: #ffb9a0;
$primary-300: #ffab8c;
$primary-350: #ff9c79;
$primary-400: #ff8c64;
$primary-450: #ff7c4e;
$primary-500: #ff6b35;
$primary-550: #de5c2d;
$primary-600: #be4e25;
$primary-650: #9e3f1d;
$primary-700: #803215;
$primary-750: #63250e;
$primary-800: #481808;
$primary-850: #2e0d03;
$primary-900: #160401;

$secondary-50: #f4edff;
$secondary-100: #e9dcff;
$secondary-150: #decaff;
$secondary-200: #d3b8ff;
$secondary-250: #c9a6ff;
$secondary-300: #bf93ff;
$secondary-350: #b57fff;
$secondary-450: #a252ff;
$secondary-500: #9933ff;
$secondary-550: #842bde;
$secondary-600: #7023be;
$secondary-650: #5d1c9e;
$secondary-700: #4a1480;
$secondary-750: #380d63;
$secondary-800: #270748;
$secondary-850: #17032e;
$secondary-900: #080116;
$secondary-1000: #010003;

$info-500: #007bff;

/* Neutral Colors */
$neutral-50: #f4f2ee;
$neutral-100: #efece6;
$neutral-200: #ddd7cb;
$neutral-300: #c7bcaa;
$neutral-400: #b09e87;
$neutral-500: #786353;
$neutral-600: #644e44;
$neutral-700: #56433d;
$neutral-800: #4b3c38;
$neutral-900: #2a201e;

/* Success - Green */
$success-50: #f2fbf4;
$success-100: #e1f7e6;
$success-200: #c4eecd;
$success-300: #96dfa6;
$success-400: #61c777;
$success-500: #2c8d42;
$success-600: #267037;
$success-700: #22592f;
$success-800: #1e4929;
$success-900: #0b2813;

/* Warning - Yellow */
$warning-50: #fffeea;
$warning-100: #fffddc;
$warning-200: #fff8b6;
$warning-300: #fff247;
$warning-400: #ffe41d;
$warning-500: #f6c002;
$warning-600: #b4a444;
$warning-700: #ba6e03;
$warning-800: #7c450b;
$warning-900: #472401;

/* Error - Red */
$error-50: #fff1f0;
$error-100: #ffdfdd;
$error-200: #ffc5c1;
$error-300: #ffb9b5;
$error-400: #ff6359;
$error-500: #ff3326;
$error-600: #d50d00;
$error-700: #af0f05;
$error-800: #90140c;
$error-900: #440400;

/* Generic Colors */
$white: #ffffff;
$black: #000000;

.primary-300 {
  color: $primary-300;
}

.primary-400 {
  color: $primary-400;
}

.primary-500 {
  color: $primary-500;
}

.secondary-500 {
  color: $secondary-500;
}

.info-500 {
  color: $info-500;
}

.neutral-50 {
  color: $neutral-50;
}

.neutral-100 {
  color: $neutral-100;
}

.neutral-200 {
  color: $neutral-400;
}

.neutral-400 {
  color: $neutral-400;
}

.neutral-500 {
  color: $neutral-500;
}

.neutral-600 {
  color: $neutral-600;
}

.neutral-700 {
  color: $neutral-700;
}

.neutral-800 {
  color: $neutral-800;
}

.neutral-900 {
  color: $neutral-900;
}

.success-600 {
  color: $success-600;
}

.warning-700 {
  color: $warning-700;
}

.warning-800 {
  color: $warning-800;
}

.error-500 {
  color: $error-500;
}
.error-600 {
  color: $error-600;
}

.white {
  color: #ffffff;
}
