@use "@styles/variables" as *;

.search-result-bar {
  width: 100%;
  display: flex;
  padding-left: 44px;
  padding-right: 44px;
  position: relative;
  margin-bottom: 16px;
  gap: 30px;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
}

.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chips {
  width: min(100%, 500px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;
}
